doctype html
html(lang="en")
  head
    title= pageTitle
  body
    include includes/header.pug
    block content
      #container.col
        p.
          The purpose of this proyect is to dig deeper on webpack.
        p Hola mundo