@import "bootstrap/customizations.scss";
@import "commons/variables/colors.scss";

html {
  display: block;
  height: 100%;

  body {
    align-items: center;
    background-color: $background-color;

    //background-image: url("../images/fernandoReyes.jpg");
    background-size: cover;
    color: $gray-light;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    h1 {
      color: white;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5em;
    }
  }
}
